@font-face {
  font-family: "spotify-circular";
  src: url("./assets/fonts/CircularStd-Medium.otf") format("opentype");
}
* {
  font-family: "spotify-circular", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Path: index.html */
nav {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 75px;
  padding: 10px 0;
}

nav > .logo {
  padding: 10px 0;
  margin: 0 10px;
}
nav svg {
  height: 100%;
}

nav > .menu {
  width: 30%;
}
nav > .menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav > .menu > ul > li > a {
  padding: 0 5px;
  color: white;
  font-weight: 500;
}

header {
  background: #0d72ea;
  color: white;
  height: 42vh;
}

header > .header-content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 900px;
  padding: 30px;
  margin: auto;
}

.header-content > h1 {
  font-size: 3rem;
  font-weight: 700;
}

.header-content > p {
  font-size: 2rem;
  font-weight: 100;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header-content button:last-child {
  background: transparent;
  border: 1px solid white;
}

.header-content > p:last-child {
  font-size: 0.6rem;
  font-weight: 500;
}

.header-content > p:last-child > a {
  text-decoration: underline;
  color: white;
}
.section-why {
  height: 58vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.list-why-items {
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.item-why {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  margin: 10px;
}

.description-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  margin-left: 20px;
}
.section-why img {
  width: 70%;
  margin-bottom: 20px;
}

.section-why h2 {
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}
